.panel {
  bottom: 15px;
  left: 60px;
  border-radius: 8px;
  width: 340px;
  min-height: 80px;
  border: 1px solid rgba(red, 0.2);
  box-shadow: 0 0 5px rgba(red, 0.5);

  @color: rgb(255, 42, 0);

  .title {
    color: @color;
  }

  .list {
    margin-bottom: 8px;
    overflow: hidden;

    .item {
      box-sizing: border-box;
      min-height: 26px;
      padding: 2px 0;
      color: @color;
      text-align: center;
      font-size: 14px;
      line-height: 22px;
      overflow-wrap: anywhere;
    }
  }
}
